
#mainPage_image{
   /* background-image:url("../Photo/main.jpg") ;*/
    background-size:cover;
    height:100%;
    z-index: -1;
}
#mainPage_main{
    position: absolute;
    top: 80px;
    left: 170px;
    width: 1000px;
}
#mainPage_left{
    height: 52px;
    background-color: #4285F4;
    width: 100%;
    display: block;
    margin-top: 0px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.06);
}
.mainPage_title{
    margin-bottom: 10px;
    margin-top: 0px;
    color: #FFFFFF;
    margin-left: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    font-stretch: normal;
    font-size: 20px;
    line-height: 70px;
    font-family: 微软雅黑;
    white-space: nowrap;
    width: 100px;
    height: 40px;
    line-height: 56px;
    align-items: center;
}

.mainPage_admin{
    height: 30px;
}
.mainPage_text{
    margin: auto 500px;
    color: #FFFFFF;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    font-stretch: normal;
    font-size: 28px;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space:nowrap;
}
.mainPage_paper{
    height: 250px;
    width: 200px;
    background-color: #FFFFFF;
    margin-left: 100px;
    margin-top: 20px;
    box-shadow:  0 0 7px rgba(0,0,0,.14),0 7px 15px rgba(0,0,0,.23);
    float: left;
    white-space:nowrap;
}
.mainPage_type{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #0A3A72;
}
.mainPage_paperInfo{
    margin-top: 80px;
    margin-left: 40px;
    font-size: 15px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-weight: 600;
}
.mainPage_number{
    margin-top: 30px;
    margin-left: 15px;
    float: left;
    font-size: 65px;
}
.mainPage_new{
    height: 30px;
    width: 170px;
    text-align: center;
    margin-top: 20px;
    margin-left: 15px;
    padding-top: 8px;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: white;
    background-color: #28A2D6;
    border-radius: 3px;
}
.mainPage_nav:link{
    text-decoration:none;
}
.mainPage_list{
    margin-top: 40px;
}
.mainPage_ul{
    margin-top: 40px;
    margin-left: -25px;
}
.mainPage_ul li{
    list-style-type:none;
    background-color: white;
    line-height: 50px;
    padding-left: 15px;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: black;
}
.mainPage_ul li:hover{
    background-color: #E6E6E6;
}
.mainPage_tips{
    background-color: #9E9E9E;
    color: black;
    width: 220px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    border-radius: 5px;
    padding: 10px;
    word-wrap:break-word;
    word-break:break-all;
}
.mainPage_first{
    font-size: 17px;
    font-weight: 600;
}
.mainPage_project{
    margin-left: 62px;
}