#projectInfo_left{
    float: left;
    margin-top: 30px;
}
.projectInfo_title{
    margin-bottom: 10px;
    margin-top: -40px;
    color: #FFFFFF;
    margin-left: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    font-stretch: normal;
    font-size: 20px;
    line-height: 70px;
    font-family: 微软雅黑;
    white-space: nowrap;
    width: 100px;
    height: 40px;
    align-items: center;
}
#projectInfo_header{
    height: 52px;
    background-color: #4285F4;
    width: 100%;
    display: block;
    margin-top: 0px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.06);
    position: fixed;
    top:0;
    z-index: 100;
}
#projectInfo_menu{
    margin-top: 6px;
    margin-left: 1300px;
    height: 10px;
    width: 10px;
}
.projectInfo {
    text-align: center;
}
.projectInfo ul {
    height: 50px;
    width: 80%;
    margin: auto;
}
.projectInfo li {
    margin: 0 45px 10px 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    background: #F1F1F1;
}
.projectInfo a {
    padding: 3px 12px;
    text-decoration: none;
    line-height: 100%;
    color: black;
}
.projectInfo a:active {
    color: #fff;
}
.projectInfo a:hover {
    color: #777777;
}
.active {
    color: #fff;
    background: #fff;
}
.projectInfo_areaChart{
    margin-top: 30px;
    height: 380px;
}
.projectInfo_pieChart{
    margin-top: 10px;
    height: 380px;
}
.projectInfo_canvasLeft{
    background: #ffffff;
    width: 500px;
    height: 350px;
    margin-left: 160px;
    margin-top: 40px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 1px rgba(0,0,0,0.1);
    float: left;
}
.projectInfo_canvasRight{
    background: #ffffff;
    width: 500px;
    height: 350px;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 1px rgba(0,0,0,0.1);
    float: left;
}
.projectInfo_table{
    background: #ffffff;
    width: 800px;
    height: 450px;
    margin: 50px auto;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 1px rgba(0,0,0,0.1);
}